<h4 class="title"><%= @user.username.upcase %> - Board List</h4>

<%= link_to 'Back', users_path, type: 'button', class: 'btn btn-secondary create-btn' %>

<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th scope="col">Board Name</th>
      <th scope="col">Owner (username)</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
    <tr>
      <td><%= board.name %></td>
      <td><%= board.user.username %></td>
    </tr>
    <% end %>
  </tbody>
</table>
