<h1>Blog Posting System</h1>

<%= link_to 'Show All Users', users_path, type: 'button', class: 'btn btn-primary' %>
<%= link_to 'Show All Boards', boards_path, type: 'button', class: 'btn btn-primary' %>
