<h4 class="title">Dashboard</h4>

<%= link_to 'Show All Users', users_path, type: 'button', class: 'btn btn-primary' %>
<%= link_to 'Show All Boards', boards_path, type: 'button', class: 'btn btn-primary' %>
